.parent{
    width: 100%;
    height: 100%;
}

.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-form{
    background-color: white;
    max-width: 500px;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .Question{
        padding: 2rem;
        font-size: 2rem;
    }
}

.sneaky{
    display: none;
}
